{% extends "base.html" %}

{% block content %}
  <h1>Driver Detail</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Driver ID</th>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ driver.id }}</td>
        <td>{{ driver.username }}</td>
        <td>{{ driver.email }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Cars</h2>
  <ul>
    {% for car in driver.cars.all %}
      <li>{{ car.name }}</li>
    {% endfor %}
  </ul>
{% endblock %}
